@using TicketManagement.Web.Helpers

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@Resources.TicketManagementResource.ChooseLang</a>
    @Html.LanguagesList()
    @*@using (Html.BeginForm("ChangeLanguage", "Language", new { area = "", controller = "Language" }, FormMethod.Post))
        {
            @Html.DropDownList("Language",
                EnumHelper.GetSelectList(typeof(Language)) ,
                new { @class = "form-control nav-link dropdown-toggle", data_toggle="dropdown", aria_haspopup = "true", aria_expanded = "false" })
        }*@
    @*<div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>*@
</li>