@using Resources
@helper Loading()
{
    <div class="alert alert-dismissible alert-secondary loading" style="display:none;" data-loader="Loader">
        <strong>@TicketManagementResource.Loading</strong>
    </div>
}

